// menu css
.sidebar-bg {
}
.sidebar-about{
    > a.sidebar-title {
        color: #333;
    }
    > a.sidebar-title::after {
        display: none;
    }
}
.sidebar-sticky {
    min-width: 12rem;
}
.sidebar-nav {
    h2 {
        margin:0;
        color:#333;
    }
    li {
        list-style: none;
    }
}

.sidebar-nav > ul > li {
    >a.sidebar-nav-item {
        color:#333;
        text-decoration: none;
    }
    .deps{
        padding: 0;
        overflow: hidden;
        display:flex;
        flex-flow:column;
        transition: all 0.5s ease-out;
        height: 0px;
    }

    .deps li .sidebar-nav-item {
        color:#555;
        border: 0;
        text-decoration: none;
    }

    .deps-title {
        position: relative;
        color:#333;

        &::after{
            content:'';
            display: block;
            width: 10px;
            height: 10px;
            border-top:6px solid #555;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
        }
    }
    .deps-title.on::after{
        transform: translateY(-50%) scaleY(-1);
    }
}

// grid css
.layout-grid .related-posts {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {
        width: 90%;
        margin:1rem auto;

        @media screen and (min-width: $break-point-1) {
            width: 49%;
        }
        @media screen and (min-width: $break-point-5) {
            width: 33%;
        }
        a {
            display:flex;
            flex-flow:column;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 0 0.4rem #ccc;
            text-decoration: unset;

            .posts-info {
                padding:0.5rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}