{% assign post = include.post %}
{% assign format = include.format | default:site.data.strings.date_formats.related_post | default:"%d %b %Y" %}

<li class="posts-list">
  <a href="{{ post.url | relative_url }}" class="flip-title">
    {% include_cached components/hy-img.html img=post.image alt=post.title %}

    <div class="posts-info">
      <span>{{ post.title }}</span>
      <time class="faded fine" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:format }}</time>
    </div>
  </a>
</li>
